<div class="quizCard" *ngIf="vocabularyQuiz.length > 0">
  <div *ngIf="vocabularyQuiz?.length === 0">
    <p class="mainFont loading">Loading Quiz</p>
  </div>
  <button id="exitQuizBtn" class="secondaryFont subHeader" (click)="endContainer()">X</button>
  <div *ngIf='!showFinalResults' class="question">
    <p class="fw-bold fade-in-animation">Select the definition that matches the word:</p>
    <h2 class="mainFont quizHeader fade-in-animation">{{ vocabularyQuiz[currentQuestionIndex].word }}</h2>
    <ul>
      <li class="secondaryFont quizAnswer fade-in-animation2"
        *ngFor="let option of vocabularyQuiz[currentQuestionIndex]?.options"
        (click)="!resultShown && submitAnswer(option)" [ngClass]="{
            'correct': option == correctAnswer && resultShown,
            'incorrect': option !== correctAnswer && option == currentSelection && resultShown,
            'hidden': option !== correctAnswer && option !== currentSelection && resultShown
          }">
        {{ option }}
      </li>
    </ul>
    <div class='result' *ngIf="resultShown">
      <p class="secondaryFont fs-4 fade-in-animation">{{ resultMessage }}</p>
      <button class="quizButton secondaryFont fade-in-animation2" *ngIf='resultShown'
        (click)="nextQuestion()">Next</button>
    </div>
  </div>


  <div class="resultsDiv" *ngIf="showFinalResults">
    <p class="quizHeader mainFont fade-in-animation">Final Score:</p>
    <p class="quizHeader mainFont fade-in-animation">{{ finalScore }}%</p>
    <button class="quizButton secondaryFont fade-in-animation2" (click)="resetQuiz()">Reset</button>
  </div>
</div>