<div>
    <form (ngSubmit)="onSubmit()" id="loginForm">
        <div class="formInputs">
            <div class="d-flex flex-column">
                <label class="secondaryFont loginText" for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="username" required>
            </div>
            <div class="d-flex flex-column">
                <label class="secondaryFont loginText" for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password"
                    required>
            </div>
        </div>
        <button type="submit" class="quizButton secondaryFont">Log In</button>
    </form>
</div>