#loginForm {
    margin-left: auto;
    text-align: center;
    background: transparent;

}

input {
    width: 24rem;
    height: 3rem;
    margin: 15px;
    border: 4px solid black;
    border-radius: 36px;
    text-align: center;
    font-size: 1.5rem;
    transition: .5s all;
    &:hover {
        background-color: #c2ecff;
        transform: scale(1.1);
    }
}

.formInputs {
    display: flex;
    flex-direction: row;
}

label {
    font-size: 2rem;
}

#loginButton {
    background: transparent;
    border: transparent;
    font-size: 2rem;
    color: rgb(82, 82, 196);
    transition: .5s all;
    &:hover {
        color: #54FC7B;
        transform: scale(1.1);
    }
}

.secondaryFont {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }