#loginForm {
    margin-left: auto;
    text-align: center;
    background: transparent;

}

.formInputs {
    display: flex;
    flex-direction: row;
}

label {
    font-size: 2rem;
}

input {
    margin-inline: 15px;
}

#loginButton {
    background: transparent;
    border: transparent;
    font-size: 2rem;
    color: rgb(138, 175, 255);
    transition: .5s all;
    &:hover {
        color: #54FC7B;
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 1200px) {

    .formInputs, #loginForm{
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 1rem;
        margin: 20px;
    }

    
}

@media only screen and (max-width: 700px) {

    label {
        margin: 10px;
    }
}