<div class="quizCard">
    <form (ngSubmit)="onSubmit()" id="registerForm">
        <div class="form">
            <h1 class="mainHeader mainFont">Welcome to Vocabulary Mogul!</h1>
            <h2 class="subHeader secondaryFont">Once you create an account, you will have a set of esoteric vocabulary words created for you to learn. You will be quizzed on these words until you are confident that you know them.</h2>
            <h2 class="subHeader secondaryFont">To begin a quiz with your vocabulary set, select 'User Quiz'. To be quizzed on vocabulary you have conquered, select 'Review Quiz'.</h2>
            <label for="username" class="mainFont subHeader">Create a Username</label>
            <input type="text" name="username" id="username" placeholder="Username" required [(ngModel)]="username">
            <label for="password" class="mainFont subHeader">Create a Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required [(ngModel)]="password">
            <button type="submit" class="quizButton secondaryFont">Register</button>
        </div>
    </form>
</div>